<nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-start">
        <img src="img/logo-perguntas.jpg" width="60">
        <p class="text-light mt-3" style="font-size: 35px; font-family: 'Lobster', cursive;">La Pregunta?</p>
    </div>
</nav>